<div class="row">
  <div class="col-md-12 formCont">
      <form>
        <fieldset >
          <div>
            <input type="text" class="form-control" ng-model="article.headline" placeholder="Headline">
          </div>
          
          <div >
            <textarea class="form-control" ng-model="article.body" rows="10" placeholder="Body" ></textarea>
          </div>
          <div>
            <input type="text" class="form-control" ng-model="article.source" placeholder="Source" value="article.body">
          </div>
          <div>
            <select ng-model="article.type">
              <option value="tweet" class="form-control">Tweet</option>
              <option value="article" class="form-control">Article</option>
              <option value="podcast" class="form-control">Podcast</option>
            </select>
            <select ng-model="article.event_ID">
              <option ng-repeat="event in events" value="{{event.event_ID}}" class="form-control">{{event.eventName}} {{event.event_ID}}</option>
            </select>
          </div>
        </fieldset>
        <create-button ></create-button>

        <update-button ng-show="article"></update-button>
        <a class="btn btn-danger" ng-click="deleteArticle(article.id)" id="cancel">Delete</a>
        <a ui-sref="home" class="btn btn-default" id="cancel">Cancel</a>

      </form>
    </div>
  </div>
